@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
@plugin "tailwind-scrollbar";

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi Variable Font.woff2") format("woff2"),
       url("/fonts/satoshi/Satoshi Variable Font.woff") format("woff");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --shade-01: #fcfcfc;
    --shade-01_95: rgba(252, 252, 252, 0.95);
    --shade-02: #f8f7f7;
    --shade-03: #f1f1f1;
    --shade-04: #ececec;
    --shade-05: #e2e2e2;
    --shade-06: #7b7b7b;
    --shade-06_30: rgba(123, 123, 123, 0.3);
    --shade-06_50: rgba(123, 123, 123, 0.5);
    --shade-07: #323232;
    --shade-07_05: rgba(50, 50, 50, 0.05);
    --shade-07_10: rgba(50, 50, 50, 0.1);
    --shade-08: #222222;
    --shade-08_05: rgba(34, 34, 34, 0.05);
    --shade-08_10: rgba(34, 34, 34, 0.1);
    --shade-09: #121212;
    --shade-09_05: rgba(18, 18, 18, 0.05);
    --shade-09_10: rgba(18, 18, 18, 0.1);
    --shade-09_35: rgba(18, 18, 18, 0.35);
    --box-shadow-toolbar: 0px 1px 4px -4px rgba(0, 0, 0, 0.075),
        0px 8px 16px -12px rgba(0, 0, 0, 0.125);
    --box-shadow-prompt-input: inset 0 2px 0 0 #ffffff,
        0px 18px 24px -20px rgba(0, 0, 0, 0.125),
        0px 8px 16px -12px rgba(0, 0, 0, 0.075);
    --box-shadow-depth-01: 0 6px 3px 0 rgba(0, 0, 0, 0.01),
        0 3px 3px 0 rgba(0, 0, 0, 0.02), 0 1px 1px 0 rgba(0, 0, 0, 0.02);
    --box-shadow-popover: 0 153px 61px 0 rgba(0, 0, 0, 0.01),
        0 86px 52px 0 rgba(0, 0, 0, 0.04), 0 38px 38px 0 rgba(0, 0, 0, 0.06),
        0 10px 21px 0 rgba(0, 0, 0, 0.07);
}

@theme  {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Satoshi", ui-sans-serif, system-ui, sans-serif;
  --font-arabic: "Cairo", ui-sans-serif, system-ui, sans-serif;
  --breakpoint-*: initial;
    --breakpoint-sm: 480px;
    --breakpoint-md: 767px;
    --breakpoint-lg: 1023px;
    --breakpoint-xl: 1259px;
    --breakpoint-2xl: 1419px;
    --breakpoint-3xl: 1719px;
    --breakpoint-4xl: 1899px;
    --color-shade-01: var(--shade-01);
    --color-shade-02: var(--shade-02);
    --color-shade-03: var(--shade-03);
    --color-shade-04: var(--shade-04);
    --color-shade-05: var(--shade-05);
    --color-shade-06: var(--shade-06);
    --color-shade-07: var(--shade-07);
    --color-shade-08: var(--shade-08);
    --color-shade-09: var(--shade-09);
    --color-surface-01: var(--shade-01);
    --color-surface-02: var(--shade-02);
    --color-surface-03: var(--shade-03);
    --color-primary: var(--shade-09);
    --color-secondary: var(--shade-06);
    --color-tertiary: #a8a8a8;
    --color-s-01: var(--shade-04);
    --color-s-02: var(--shade-05);
    --color-green: #55b93e;
    --color-orange: #e36323;
    --color-red: #fe5938;
    --color-blue: #3582ff;
    --color-yellow: #ffb73a;
    --color-purple: #8755e9;
    --default-transition-duration: 0.2s;
    --font-inter: "Inter Display", ui-sans-serif, system-ui, sans-serif;
    --text-h1: 4rem;
    --text-h1--line-height: 1.09;
    --text-h1--letter-spacing: -0.01em;
    --text-h1--font-weight: 700;
    --text-h1--font-family: var(--font-sans);
    --text-h3: 2.5rem;
    --text-h3--line-height: 3rem;
    --text-h3--letter-spacing: -0.01em;
    --text-h3--font-weight: 500;
    --text-h3--font-family: var(--font-inter);
    --text-h4: 2.25rem;
    --text-h4--line-height: 1.5;
    --text-h4--letter-spacing: -0.005em;
    --text-h4--font-weight: 500;
    --text-h4--font-family: var(--font-sans);
    --text-h5: 1.75rem;
    --text-h5--line-height: 1.5;
    --text-h5--letter-spacing: 0;
    --text-h5--font-weight: 700;
    --text-h5--font-family: var(--font-sans);
    --text-h6: 1.25rem;
    --text-h6--line-height: 1.5;
    --text-h6--letter-spacing: 0;
    --text-h6--font-weight: 500;
    --text-h6--font-family: var(--font-sans);
    --text-label-xl: 1.5rem;
    --text-label-xl--line-height: 2rem;
    --text-label-xl--letter-spacing: -0.01em;
    --text-label-xl--font-weight: 500;
    --text-label-xl--font-family: var(--font-inter);
    --text-label-lg: 1.125rem;
    --text-label-lg--line-height: 1.5;
    --text-label-lg--letter-spacing: -0.01em;
    --text-label-lg--font-weight: 500;
    --text-label-lg--font-family: var(--font-sans);
    --text-label-md: 1rem;
    --text-label-md--line-height: 1.5;
    --text-label-md--letter-spacing: -0.01em;
    --text-label-md--font-weight: 500;
    --text-label-md--font-family: var(--font-sans);
    --text-label-sm: 0.875rem;
    --text-label-sm--line-height: 1.25rem;
    --text-label-sm--letter-spacing: -0.006em;
    --text-label-sm--font-weight: 500;
    --text-label-sm--font-family: var(--font-sans);
    --text-label-xs: 0.75rem;
    --text-label-xs--line-height: 1rem;
    --text-label-xs--letter-spacing: 0;
    --text-label-xs--font-weight: 500;
    --text-label-xs--font-family: var(--font-sans);
    --text-p-xl: 1.25rem;
    --text-p-xl--line-height: 1.5;
    --text-p-xl--letter-spacing: -0.01em;
    --text-p-xl--font-weight: 400;
    --text-p-xl--font-family: var(--font-sans);
    --text-p-lg: 1.125rem;
    --text-p-lg--line-height: 1.5rem;
    --text-p-lg--letter-spacing: -0.01em;
    --text-p-lg--font-weight: 400;
    --text-p-lg--font-family: var(--font-inter);
    --text-p-md: 1rem;
    --text-p-md--line-height: 1.5;
    --text-p-md--letter-spacing: -0.01em;
    --text-p-md--font-weight: 300;
    --text-p-md--font-family: var(--font-sans);
    --text-p-sm: 0.875rem;
    --text-p-sm--line-height: 1.5;
    --text-p-sm--letter-spacing: -0.006em;
    --text-p-sm--font-weight: 400;
    --text-p-sm--font-family: var(--font-sans);
    --text-p-xs: 0.75rem;
    --text-p-xs--line-height: 1rem;
    --text-p-xs--letter-spacing: 0;
    --text-p-xs--font-weight: 400;
    --text-p-xs--font-family: var(--font-sans);
    --text-subheading-md: 1rem;
    --text-subheading-md--line-height: 1.5;
    --text-subheading-md--letter-spacing: 0;
    --text-subheading-md--font-weight: 700;
    --text-subheading-md--font-family: var(--font-sans);
    --text-subheading-sm: 0.875rem;
    --text-subheading-sm--line-height: 1.25rem;
    --text-subheading-sm--letter-spacing: 0.06em;
    --text-subheading-sm--font-weight: 500;
    --text-subheading-sm--font-family: var(--font-inter);
    --text-subheading-xs: 0.75rem;
    --text-subheading-xs--line-height: 1rem;
    --text-subheading-xs--letter-spacing: 0.04em;
    --text-subheading-xs--font-weight: 500;
    --text-subheading-xs--font-family: var(--font-inter);
    --text-subheading-2xs: 0.6875rem;
    --text-subheading-2xs--line-height: 0.75rem;
    --text-subheading-2xs--letter-spacing: 0.02em;
    --text-subheading-2xs--font-weight: 500;
    --text-subheading-2xs--font-family: var(--font-inter);
    --shadow-toolbar: var(--box-shadow-toolbar);
    --shadow-prompt-input: var(--box-shadow-prompt-input);
    --shadow-depth-01: var(--box-shadow-depth-01);
    --shadow-popover: var(--box-shadow-popover);
}

@layer base {
  button {
      @apply cursor-pointer;
  }
}

@layer components {
  .text-h1 {
      font-family: var(--text-h1--font-family);
      font-size: var(--text-h1);
      line-height: var(--text-h1--line-height);
      letter-spacing: var(--text-h1--letter-spacing);
      font-weight: var(--text-h1--font-weight);
  }
  .text-h3 {
      font-family: var(--text-h3--font-family);
      font-size: var(--text-h3);
      line-height: var(--text-h3--line-height);
      letter-spacing: var(--text-h3--letter-spacing);
      font-weight: var(--text-h3--font-weight);
  }
  .text-h4 {
      font-family: var(--text-h4--font-family);
      font-size: var(--text-h4);
      line-height: var(--text-h4--line-height);
      letter-spacing: var(--text-h4--letter-spacing);
      font-weight: var(--text-h4--font-weight);
  }
  .text-h5 {
      font-family: var(--text-h5--font-family);
      font-size: var(--text-h5);
      line-height: var(--text-h5--line-height);
      letter-spacing: var(--text-h5--letter-spacing);
      font-weight: var(--text-h5--font-weight);
  }
  .text-h6 {
      font-family: var(--text-h6--font-family);
      font-size: var(--text-h6);
      line-height: var(--text-h6--line-height);
      letter-spacing: var(--text-h6--letter-spacing);
      font-weight: var(--text-h6--font-weight);
  }
  .text-label-xl {
      font-family: var(--text-label-xl--font-family);
      font-size: var(--text-label-xl);
      line-height: var(--text-label-xl--line-height);
      letter-spacing: var(--text-label-xl--letter-spacing);
      font-weight: var(--text-label-xl--font-weight);
  }
  .text-label-lg {
      font-family: var(--text-label-lg--font-family);
      font-size: var(--text-label-lg);
      line-height: var(--text-label-lg--line-height);
      letter-spacing: var(--text-label-lg--letter-spacing);
      font-weight: var(--text-label-lg--font-weight);
  }
  .text-label-md {
      font-family: var(--text-label-md--font-family);
      font-size: var(--text-label-md);
      line-height: var(--text-label-md--line-height);
      letter-spacing: var(--text-label-md--letter-spacing);
      font-weight: var(--text-label-md--font-weight);
  }
  .text-label-sm {
      font-family: var(--text-label-sm--font-family);
      font-size: var(--text-label-sm);
      line-height: var(--text-label-sm--line-height);
      letter-spacing: var(--text-label-sm--letter-spacing);
      font-weight: var(--text-label-sm--font-weight);
  }
  .text-label-xs {
      font-family: var(--text-label-xs--font-family);
      font-size: var(--text-label-xs);
      line-height: var(--text-label-xs--line-height);
      letter-spacing: var(--text-label-xs--letter-spacing);
      font-weight: var(--text-label-xs--font-weight);
  }
  .text-p-xl {
      font-family: var(--text-p-xl--font-family);
      font-size: var(--text-p-xl);
      line-height: var(--text-p-xl--line-height);
      letter-spacing: var(--text-p-xl--letter-spacing);
      font-weight: var(--text-p-xl--font-weight);
  }
  .text-p-lg {
      font-family: var(--text-p-lg--font-family);
      font-size: var(--text-p-lg);
      line-height: var(--text-p-lg--line-height);
      letter-spacing: var(--text-p-lg--letter-spacing);
      font-weight: var(--text-p-lg--font-weight);
  }
  .text-p-md {
      font-family: var(--text-p-md--font-family);
      font-size: var(--text-p-md);
      line-height: var(--text-p-md--line-height);
      letter-spacing: var(--text-p-md--letter-spacing);
      font-weight: var(--text-p-md--font-weight);
  }
  .text-p-sm {
      font-family: var(--text-p-sm--font-family);
      font-size: var(--text-p-sm);
      line-height: var(--text-p-sm--line-height);
      letter-spacing: var(--text-p-sm--letter-spacing);
      font-weight: var(--text-p-sm--font-weight);
  }
  .text-p-xs {
      font-family: var(--text-p-xs--font-family);
      font-size: var(--text-p-xs);
      line-height: var(--text-p-xs--line-height);
      letter-spacing: var(--text-p-xs--letter-spacing);
      font-weight: var(--text-p-xs--font-weight);
  }
  .text-subheading-md {
      font-family: var(--text-subheading-md--font-family);
      font-size: var(--text-subheading-md);
      line-height: var(--text-subheading-md--line-height);
      letter-spacing: var(--text-subheading-md--letter-spacing);
      font-weight: var(--text-subheading-md--font-weight);
  }
  .text-subheading-sm {
      font-family: var(--text-subheading-sm--font-family);
      font-size: var(--text-subheading-sm);
      line-height: var(--text-subheading-sm--line-height);
      letter-spacing: var(--text-subheading-sm--letter-spacing);
      font-weight: var(--text-subheading-sm--font-weight);
      text-transform: uppercase;
  }
  .text-subheading-xs {
      font-family: var(--text-subheading-xs--font-family);
      font-size: var(--text-subheading-xs);
      line-height: var(--text-subheading-xs--line-height);
      letter-spacing: var(--text-subheading-xs--letter-spacing);
      font-weight: var(--text-subheading-xs--font-weight);
      text-transform: uppercase;
  }
  .text-subheading-2xs {
      font-family: var(--text-subheading-2xs--font-family);
      font-size: var(--text-subheading-2xs);
      line-height: var(--text-subheading-2xs--line-height);
      letter-spacing: var(--text-subheading-2xs--letter-spacing);
      font-weight: var(--text-subheading-2xs--font-weight);
      text-transform: uppercase;
  }
  .center {
      @apply max-w-280 w-full mx-auto px-10 max-xl:px-5;
  }
  .sidebar {
      @apply fixed top-3 bottom-3 z-10 w-60 bg-surface-01 border border-s-01 rounded-[1.25rem];
  }
  .btn-icon {
      @apply rounded-md fill-secondary transition-colors hover:bg-surface-03 hover:fill-primary;
  }
  .btn-icon svg {
      @apply fill-inherit;
  }
  .key {
      @apply px-1.5 py-0.5 bg-surface-03 rounded-md shadow-[0_0px_0px_1px_rgba(0,0,0,0.11),0px_2px_0.8px_0px_rgba(255,255,255,0.27)_inset,0px_-1px_0.6px_0px_rgba(0,0,0,0.20)_inset,0px_1px_4.2px_-1px_rgba(0,0,0,0.25)] text-label-sm text-secondary;
  }
  .social {
      @apply flex items-center justify-center size-10 border border-s-02 rounded-xl transition-colors hover:bg-surface-03;
  }
  .content {
      @apply text-p-md [&_p]:mb-4 [&_p]:last:mb-0 [&_strong]:font-bold [&_ul]:mb-4 [&_ul]:flex [&_ul]:flex-col [&_ul]:gap-1 [&_ul]:last:mb-0 [&_ul>li]:pl-6 [&_ul>li]:relative [&_ul>li]:before:absolute [&_ul>li]:before:left-2 [&_ul>li]:before:top-2.25 [&_ul>li]:before:size-1.25 [&_ul>li]:before:bg-primary [&_ul>li]:before:rounded-full;
  }
  .loop-slider--thumb:after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      bottom: 0;
      width: 16px;
      transform: translateX(-50%);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='12' fill='none' viewBox='0 0 16 12'%3E%3Cpath d='M1.41 6L5 2.41V5h6V2.41L14.58 6 11 9.58V7H5v2.59L1.41 6zM0 6l6 6V8h4v4l6-6-6-6v4H6V0L0 6z' fill='%23fff'/%3E%3Cpath d='M8.5 6.99h2.52v2.59l3.56-3.59-3.56-3.58v2.6H8.5 5v-2.6L1.41 5.99 5 9.58V6.99h3.5z' fill='%23000'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 100% auto;
      opacity: 0;
      transition: opacity 0.2s;
  }
  .loop-slider--thumb:hover:after {
      opacity: 1;
  }
  .react-tooltip {
      @apply z-50 !px-2 !py-1 !text-label-sm !rounded-lg;
  }
  .swiper-explore .swiper-slide {
      @apply opacity-20 !transition-opacity duration-300;
  }
  .swiper-explore .swiper-slide.swiper-slide-active {
      @apply opacity-100;
  }
  .mySwiper .swiper-slide {
      transition: border-color 0.2s;
  }
  .mySwiper .swiper-slide.swiper-slide-thumb-active {
      border-color: var(--color-shade-06) !important;
  }
  .mySwiper2 .swiper-button-next,
  .mySwiper2 .swiper-button-prev {
      width: 2.5rem !important;
      height: 2.5rem !important;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath d='M6.762 4.26A.75.75 0 1 1 7.823 5.32L4.383 8.761a1.75 1.75 0 0 0-.298.397l-.046.09h12.837a.75.75 0 0 1 .743.648l.007.102a.75.75 0 0 1-.75.75H4.04l.045.091c.052.095.114.186.184.272l.114.125 3.441 3.441a.75.75 0 0 1-1.061 1.061l-3.441-3.441a3.25 3.25 0 0 1 0-4.596L6.762 4.26z' fill='%23121212'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px auto;
      border-radius: 0.625rem;
      transition: background-color 0.2s;
  }
  .mySwiper2 .swiper-button-prev {
      left: 1.25rem !important;
  }
  .mySwiper2 .swiper-button-next {
      right: 1.25rem !important;
  }
  .mySwiper2 .swiper-button-next:hover,
  .mySwiper2 .swiper-button-prev:hover {
      background-color: var(--color-surface-03);
  }
  .mySwiper2 .swiper-button-next {
      transform: rotate(180deg);
  }
  .mySwiper2 .swiper-button-next:after,
  .mySwiper2 .swiper-button-prev:after {
      display: none;
  }
  .comments {
      cursor: url("/public/images/cursor.svg"), auto;
  }
  .epr-header,
  .epr-emoji-category-label {
      @apply !hidden;
  }
  .epr-emoji-category-content {
      @apply !py-2.75;
  }
  .epr-body {
      @apply scrollbar-none;
  }
  .range-loop .rc-slider-handle:after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      bottom: 0;
      width: 16px;
      transform: translateX(-50%);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='12' fill='none' viewBox='0 0 16 12'%3E%3Cpath d='M1.41 6L5 2.41V5h6V2.41L14.58 6 11 9.58V7H5v2.59L1.41 6zM0 6l6 6V8h4v4l6-6-6-6v4H6V0L0 6z' fill='%23fff'/%3E%3Cpath d='M8.5 6.99h2.52v2.59l3.56-3.59-3.56-3.58v2.6H8.5 5v-2.6L1.41 5.99 5 9.58V6.99h3.5z' fill='%23000'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 100% auto;
      opacity: 0;
      transition: opacity 0.2s;
  }
  .range-loop .rc-slider-handle:hover:after {
      opacity: 1;
  }
  .range-slider::-webkit-slider-thumb {
      appearance: none;
      height: 36px;
      width: 24px;
      border-radius: 6px;
      background: var(--shade-02);
      cursor: pointer;
      box-shadow: 0 -1px 4px -2px rgba(0, 0, 0, 0.2) inset,
          0px 0px 2.6px -1px rgba(0, 0, 0, 0.17),
          0px 1px 4px 0px rgba(0, 0, 0, 0.14);
      border: none;
      outline: none;
  }

  .range-slider::-moz-range-thumb {
      height: 36px;
      width: 24px;
      border-radius: 6px;
      background: var(--shade-02);
      cursor: pointer;
      box-shadow: 0 -1px 4px -2px rgba(0, 0, 0, 0.2) inset,
          0px 0px 2.6px -1px rgba(0, 0, 0, 0.17),
          0px 1px 4px 0px rgba(0, 0, 0, 0.14);
      border: none;
      outline: none;
  }

  .range-slider::-webkit-slider-track {
      height: 36px;
      border-radius: 8px;
      background: transparent;
  }

  .range-slider::-moz-range-track {
      height: 36px;
      border-radius: 8px;
      background: transparent;
      border: none;
  }
}


